<!--extends html header-->
{% extends 'header.html' %}
<!--load project title in url-->
{% block title %}CRUD-APPLICATION{% endblock %}
<!--load html contents-->
{% block content %}


<div class="container my-4">

    <div class="col-lg-5 col-md-8 mx-auto ui segment p-4 baseBlock">
        <br>
        <h1 class="display-4 text-center">Update Product</h1>
        <hr>

        <!--required msg-->
        {% if message %}
        <div class="alert-success text-center p-2 mb-2">
            {{message}}
        </div>
        {% endif %}
        <!--required msg-->


        <form class="ui form" id="form" action="/user-profile-update/{{user.id}}" method="POST">

            {% csrf_token %}
            
            <div class="field">
                <label>User Name</label>
                <input type="text" required name="name" value="{{profile.name}}">
            </div>
            <div class="field">
                <label>Phone Number</label>
                <input type="text" required name="phone" value="{{profile.phone}}">
            </div>

            <div class="mt-3">
                <button class="button ui teal btn-block">Update Profile</button>
            </div>
            <div class="mt-3">
                <a href="/user-profile/{{user.id}}" class="button ui teal btn-block">Back</a>
            </div>
            
        </form>
    </div>
</div>



{% endblock %}